<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ox.cs.GPT9.augox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uk.ac.ox.cs.GPT9.augox.MainScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.ac.ox.cs.GPT9.augox.PlaceFullInfoActivity"
            android:label="@string/title_activity_place_full_info" >
        </activity>
        <activity
            android:name="uk.ac.ox.cs.GPT9.augox.SettingsPanelActivity"
            android:label="@string/title_activity_settings_panel" >
        </activity>
        <activity
            android:name="uk.ac.ox.cs.GPT9.augox.FilterPanelActivity"
            android:label="@string/title_activity_filter_panel" >
        </activity>
        <activity
            android:name="uk.ac.ox.cs.GPT9.augox.ListPlacesActivity"
            android:label="@string/title_activity_list_places" >
        </activity>
         <activity
            android:name="uk.ac.ox.cs.GPT9.augox.ListPlacesSubTypeActivity"
            android:label="@string/title_activity_list_places_sub_type" >
        </activity>
         <activity
            android:name="uk.ac.ox.cs.GPT9.augox.ListPlacesItemActivity"
            android:label="@string/title_activity_list_places_item" >
        </activity>
        <activity
            android:name="uk.ac.ox.cs.GPT9.augox.RoutePlannerActivity"
            android:label="@string/title_activity_route_planner" >
        </activity>
        <activity
            android:name="uk.ac.ox.cs.GPT9.augox.AutoPlannerActivity"
            android:label="@string/title_activity_auto_planner" >
        </activity>
        <activity
            android:name="uk.ac.ox.cs.GPT9.augox.DatabaseDebuggerActivity"
            android:label="@string/title_activity_database_debugger" >
        </activity>
    </application>

</manifest>
